$turquoise: #4CE0D2;
$lightSeaGreen: #22AAA1;
$pineGreen: #136F63;
$darkJungleGreen: #041B15;

$black: #1A1C1C;
$dgray: #454A4A;
$gray: #6D7474;
$lgray: #ABB0B0;
$llgray: #EAEBEB;

/* aliases */
$text: $black;
$text-light: $dgray;
$primary: $lightSeaGreen;
$secondary: $darkJungleGreen;
$clickable: $pineGreen;
$clickable-hover: lighten($pineGreen, 20%);